<div class="dashboard-nav">
  <nav mat-tab-nav-bar mat-tab-nav-bar mat-align-tabs="left">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <div>
    <button mat-raised-button color="warn" (click)="logout()">
<!--      {{userData.name}}/-->
      logout
    </button>
  </div>
</div>
<div class="main-wrapper">
  <router-outlet></router-outlet>
</div>

